<%= render 'shared/header' %>
<div id="wrapper" style="position: relative; margin-top: 100px; width: 100%; text-align:left">
<h1>Editing publication</h1>

<%= render 'form' %>

<%= link_to 'Show', @publication %> |
<%= link_to 'Back', publications_path %>
</div>
<%= render 'shared/footer' %>