<%= render 'shared/header' %>

<div id="wrapper" style="position: relative; margin-top: 100px; width: 100%; text-align:center">

	
	<div style="background: white; style: float; text-align: left">
		<% @users.each do |user| %> 
			<b> <%= user.name %> </b>
			<%= link_to 'Show', user %> | 
			<%= link_to 'Edit', edit_user_path(user) %> | 
			<%= link_to 'Destroy', user, :method => :delete %>
			<br>
		<% end %>
	<div> 
</div>



<%= render 'shared/footer' %>