<%= render 'shared/header' %>

<div id="wrapper" style="position: relative; margin-top: 100px; width: 100%; text-align:center">
	<div id="user_profile" style=" width: 400px; height: 120px; border: 1px solid #999; text-align:left; border-radius: 5px; background: #999""> 
		<div id="user_phot" style="float:left; width: 80px; height: 80px; padding: 3px;  margin-top: 18px; margin-left:7px; background: white; border-radius: 5px;">
			<%= gravatar_image_tag(@user.email, :alt => @user.name)%>
		</div>
		<div id="user_quickbox" style="float: left; margin-left:5px; font-size: 12px; font-family: tahoma">
			<p style="font-size: 16px;font-weight:bold;"> <%= @user.name %> <a href='http://www.linkedin.com/in/<%= @user.linkedinid %>'><img style='width: 16px' src='/images/linkedinlogo.png' alt='linkedin'></a><a href='<%= @user.twitterid %>'><img style='width: 16px; margin-left: 2px;' src='/images/twitterlogo.png' alt='twitter'></a></p>
			<%= @user.title %> | <%= @user.organization %> <br>
			<%= @user.location %> <br>
			<%= mail_to @user.email %> | <%= @user.number %>
		</div>
	</div>
	<div id="user_experience" style="float: left; margin-top:10px; padding: 5px; width: 120px; height: 200px; border: 1px solid #999; text-align:left; border-radius: 5px; font-size: 12px; font-family: tahoma; background: #999""> 
		Experience and Knowledge
	</div>
	<div id="user_background" style="float: left; padding: 5px; margin-top:10px; margin-left:10px;width: 250px; height: 200px; border: 1px solid #999; text-align:left; border-radius: 5px; font-size: 12px; font-family: tahoma; background: #999""> 
		<b style='font-size: 16px;font-weight:bold'> Latest Posts </b> <br>
		<% @user.posts.each do |post| %>
			<b><%= link_to post.title, post %></b> - <%= post.content %><br>
		<% end %>
	</div>
</div>

<div id="about-wrapper"style="clear: both; position: fixed; bottom: 0px; left: 0px; height: 50px; width: 100%; background: #999; color: white; font-size: 12px; font-family: tahoma; text-align: left">
	<div id="about"> About us </div>
</div>