<%= render 'shared/header' %>
<div id="wrapper" style="position: relative; margin-top: 100px; width: 100%; text-align:center">
<h1>Edit your post</h1>

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
</div>
<%= render 'shared/footer' %>